.Login {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

header {
    color: white;
    font-size: large;
    margin-bottom: 15px;
}