h1 {
    color: blue;
    font-family: 'Bangers', cursive;
    font-size: 45px;
}

h3 {
    color: black;
    font-size: 20px;
}

.ui.centered.card {
    justify-items: center;
    justify-content: center;
    align-content: center;
}